@font-face {
  font-family: Barlow-label;
  src: url("../../fonts/Barlow-Light.ttf");
  font-weight: bold;
}
.product {
  &__photo {
    width: 350px;
    height: 500px;
  }
  &__name {
    margin-top: 8px;
  }
  &__price {
    font-family: Barlow-label,sans-serif;
    margin-top: 4px;
  }
}
