.checkout-sidebar {
  &__content {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-transform: uppercase;
  }
  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      span {
        font-size: 14px;
      }
    }
  }
  &__link {
    display: block;
    padding: 10px 14px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
  }
  &__link:active {
    opacity: 0.8;
  }
  &__total {
    font-size: 18px;
  }
}
