.back-btn {
    margin-top: 120px;
    margin-left: 20px;
    border: none;
    background-color: white;
    font-size: 2em;
    cursor: pointer;
}
.product {
    &__container {
        display: flex;
        width: 80%;
        margin: 40px auto;
        justify-content: space-between;
    }
    &__img__container {
        img {
            max-height: 700px;
            max-width: 600px;
        }
    }
    &__info__container {
        width: 500px;
        height: 600px;
        h2 {
            text-align: center;
        }
        button {
            margin: 14px 0;
            width: 100%;
            border: none;
            padding: 10px 14px;
            color: white;
        }
    }
    &__span {
        margin-right: 4px;
    }
    &__add-btn {
        background-color: black;
        cursor: pointer;
        &--disable {
            &-true {
                opacity: 0.5;
            }
        }
    }
    &__settings {
        display: flex;
        &__update {
            background-color: black;
        }
        &__delete {
            background-color: red;
        }
    }
}
