@import "../../style/form.scss";

.add-product {
    &__form {
        width: 100%;
        border-bottom: solid 1px black;
        &__title {
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        &__content {
            max-width: 360px;
            margin: auto;
        }
    }
}

span {
    font-weight: 100;
}