.forgot-password {
    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    &__content {
        flex: 1;
        margin: auto;
        margin-top: 120px;
    }
}