@import "../../style/variables";
.cart-item {
  &__img {
    grid-area: img;
    width: 120px;
    height: 160px;
  }
  &__name {
    grid-area: name;
    text-decoration: none;
    color: inherit
  }
  &__quantity {
    grid-area: quantity;
  }
  &__util {
    grid-area: add-sub;
  }
  &__delete-button {
    grid-area: button;
    background-color: $color-red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  &__delete-button:active {
    opacity: 0.8;
  }
  &__price {
    grid-area: price;
  }
  &__wrapper {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: solid 1px lightgray;
    display: grid;
    grid-template-columns: 150px auto 70% auto;
    grid-template-rows: auto;
    grid-template-areas:
      "img name . button"
      "img . . ."
      "img . . ."
      "img quantity add-sub price";
  }
}
