.cart-item {
  &__img {
    grid-area: img;
  }
  &__name {
    grid-area: name;
  }
  &__quantity {
    grid-area: quantity;
  }
  &__icon {
    grid-area: icon;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 25% auto 15%;
    grid-template-rows: auto;
    grid-template-areas:
      "img name . icon"
      "img . . ."
      "img . . ."
      "img quantity . price";
  }
}
