.cart {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__empty__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 100%;
  }
  &__content__wrapper {
    margin-top: 100px;
    display: flex;
  }
}
