.cart {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__empty__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 100%;
  }
  &__content__wrapper {
    margin-top: 100px;
    display: flex;
  }
  &__list {
    flex: 3;
    margin-left: 10%;
    margin-right: 40px;
    margin-top: 20px;
  }
  &__checkout-wrapper {
    flex: 2;
    min-height: 100vh;
    background-color: lightgray;
  }
}
